.ZEEGA-player {
  background-color: #000000;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
.ZEEGA-player .ZEEGA-player-window,
.ZEEGA-player .ZEEGA-player-overlay {
  margin: 0 auto;
  position: relative;
}
.ZEEGA-player .ZEEGA-player-window {
  background: red;
  overflow: hidden;
}
