/*********************************************

  FONTS
  
***********************************************/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://themes.googleusercontent.com/font?kit=zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0') format('woff');
}
@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  src: local('Trocchi'), url(http://themes.googleusercontent.com/static/fonts/trocchi/v1/FxnVMeU6MpRiIW8IbIEcBwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(http://themes.googleusercontent.com/static/fonts/sortsmillgoudy/v3/JzRrPKdwEnE8F1TDmDLMUtsZ51dqzBwIdH2JuTl9mv4.woff) format('woff');
}
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/pontanosans/v1/gTHiwyxi6S7iiHpqAoiE3KRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono'), url(http://themes.googleusercontent.com/static/fonts/novamono/v4/pN6VVBY03b9QLz-7i6Kl0bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://themes.googleusercontent.com/static/fonts/orbitron/v3/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Wendy One';
  font-style: normal;
  font-weight: 400;
  src: local('Wendy One'), local('WendyOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/wendyone/v1/oRf9i5HKN7RZoSnys4E2urO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(http://themes.googleusercontent.com/static/fonts/antic/v4/H5LHGZ96YFhyWzkob5-G-aCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  src: local('Monofett'), url(http://themes.googleusercontent.com/static/fonts/monofett/v3/94n9d8-lEEaOz-Sn4plHGHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(http://themes.googleusercontent.com/static/fonts/rocksalt/v3/Q94aHXFHGip10K5uxi1jOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/cutivemono/v1/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'New Rocker';
  font-style: normal;
  font-weight: 400;
  src: local('New Rocker'), local('NewRocker-Regular'), url(http://themes.googleusercontent.com/static/fonts/newrocker/v1/WxdbiEM9pvmAfOzkEv7pc73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Outline'), local('LondrinaOutline-Regular'), url(http://themes.googleusercontent.com/static/fonts/londrinaoutline/v1/lls08GOa1eT74p072l1AWNNNRtILQnhF8IuY18ihom0.woff) format('woff');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(http://themes.googleusercontent.com/static/fonts/yellowtail/v3/GcIHC9QEwVkrA19LJU1qlL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: local('Fascinate'), local('Fascinate-Regular'), url(http://themes.googleusercontent.com/static/fonts/fascinate/v2/NnlsYos1mCtA9prs2JfnBbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(http://themes.googleusercontent.com/static/fonts/archivoblack/v1/WoAoVT7K3k7hHfxKbvB6BzpmDuvrsAe6P6TsPq9xwrw.woff) format('woff');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(http://themes.googleusercontent.com/static/fonts/greatvibes/v1/6q1c0ofG6NKsEhAc2eh-3brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Londrina Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Sketch'), local('LondrinaSketch-Regular'), url(http://themes.googleusercontent.com/static/fonts/londrinasketch/v1/p7Ai06aT1Ycp_D2fyE3z6z0WCr4BXWfANofoahM5yqc.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(http://themes.googleusercontent.com/static/fonts/nobile/v4/BdG5WJmB9CCPn6im5Y8A5OvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v1/8Lg6LX8-ntOHUQnvQ0E7o2jf3WypfQQP02nP_ZmoBRo.woff) format('woff');
}
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/d9fijO34zQajqQvl3YHRCaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(http://themes.googleusercontent.com/static/fonts/codystar/v1/BraFEMRumMsVbWgqTQIWRHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(http://themes.googleusercontent.com/static/fonts/allertastencil/v4/CdSZfRtHbQrBohqmzSdDYKqcRvMv63bhrwdN_8Hu8N8.woff) format('woff');
}
@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  src: local('Ultra'), url(http://themes.googleusercontent.com/static/fonts/ultra/v4/t6mIy8eXn5ez80xN9-0lvKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Faster One';
  font-style: normal;
  font-weight: 400;
  src: local('Faster One'), local('FasterOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fasterone/v1/R45a6_a3GGq28ugU8uxGWb3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich'), url(http://themes.googleusercontent.com/static/fonts/aldrich/v3/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps'), local('BilboSwashCaps-Regular'), url(http://themes.googleusercontent.com/static/fonts/bilboswashcaps/v4/UB_-crLvhx-PwGKW1oosDppiXHUW_j-Nj6xnA-wH-j0.woff) format('woff');
}
@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: local('Finger Paint'), local('FingerPaint-Regular'), url(http://themes.googleusercontent.com/static/fonts/fingerpaint/v1/m_ZRbiY-aPb13R3DWPBGX6RDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Ewert';
  font-style: normal;
  font-weight: 400;
  src: local('Ewert'), local('Ewert-Regular'), url(http://themes.googleusercontent.com/static/fonts/ewert/v1/32zt7mPTGOP9C_29yULlQaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
.ZEEGA-player {
  background: url(../img/transparency-grid.png);
  background-color: #000000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.01;
}
.ZEEGA-player .ZEEGA-player-window,
.ZEEGA-player .ZEEGA-player-overlay {
  margin: 0 auto;
  position: relative;
}
.ZEEGA-player-wrapper {
  position: absolute;
  background: black;
  overflow: hidden;
  margin: auto;
  left: 0;
  right: 0;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.ZEEGA-player-window {
  background: black;
  height: 100%;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.ZEEGA-player-window > .visual-element {
  position: absolute;
  top: 0;
  left: 0;
}
[data-glowOnHover=true] {
  box-shadow: 0 0 10px transparent;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  /* Firefox 4 */

  -webkit-transition: box-shadow 0.5s;
  /* Safari and Chrome */

  -o-transition: box-shadow 0.5s;
  /* Opera */

}
[data-glowOnHover=true]:hover {
  box-shadow: 0 0 10px white;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  /* Firefox 4 */

  -webkit-transition: box-shadow 0.5s;
  /* Safari and Chrome */

  -o-transition: box-shadow 0.5s;
  /* Opera */

}
/******************************

  MEDIA PLAYER
  
******************************/
.media-player-container {
  position: relative;
}
.media-player-container .media-element {
  width: 100%;
}
.media-player-container .media-element.media-type-Audio {
  height: 0;
}
.media-player-container video {
  height: 100%;
}
.playback-controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}
.playback-controls.playback-layer-controls {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.playback-controls.playback-layer-controls .player-control-inner {
  position: relative;
  background-color: transparent;
}
.playback-controls .player-control-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.playback-controls.controls-simple .player-control-inner {
  width: auto;
  height: 18px;
  left: 45%;
  top: 45%;
  padding: 4px 10px;
  border-radius: 5px;
}
.playback-controls .control-panel-inner {
  padding: 0 5px;
}
.playback-controls .media-scrubber {
  height: 6px;
}
.playback-controls .media-scrubber .ui-slider-range {
  background: red;
}
.playback-controls .media-scrubber .ui-slider-handle {
  border: none;
  width: 0;
  height: 0;
}
.playback-controls .crop-wrapper .crop-time-values {
  padding: 0 5px 10px;
}
.playback-controls .crop-wrapper .crop-time-values .crop-time-left {
  float: left;
}
.playback-controls .crop-wrapper .crop-time-values .crop-time-right {
  float: right;
}
.playback-controls .crop-wrapper .crop-slider {
  background: transparent;
}
.playback-controls .crop-wrapper .crop-slider .ui-slider-range {
  background: yellow;
}
.playback-controls .crop-wrapper .crop-slider a {
  background: yellow;
}
.playback-controls .crop-wrapper .crop-slider .ui-slider-handle {
  width: 3px;
  border: none;
  height: 16px;
  box-shadow: none;
}
.ZEEGA-player-control a {
  position: absolute;
}
.ZEEGA-player-control .size-toggle {
  padding: 10px;
}
.ZEEGA-player-control .size-toggle-laptop,
.ZEEGA-player-control .size-toggle-mobile {
  background-image: url('../img/screen-toggle.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 50px 100px;
  display: inline-block;
  height: 50px;
  width: 50px;
  transition: background-position 0.5s;
  -webkit-transition: background-position 0.5s;
}
.ZEEGA-player-control .size-toggle-mobile {
  background-position: 0 -50px;
}
.ZEEGA-basic-controls a {
  z-index: 99999;
  text-decoration: none;
}
.ZEEGA-basic-controls a.ZEEGA-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  display: block;
}
.transition( color, 0.5s ) .ZEEGA-basic-controls a.ZEEGA-close:hover {
  color: orangered;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.ZEEGA-basic-controls .play-zcon,
.ZEEGA-basic-controls .pause-zcon {
  background-image: url('../img/playpause.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.ZEEGA-basic-controls .pause-zcon {
  background-position: -25px 0px;
}
.ZEEGA-basic-controls .ZEEGA-playpause {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.controls-arrow {
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3em;
  border-left: 10px solid;
  border-top: 10px solid;
  border-color: #ffffff;
  box-shadow: 0 0 50px transparent;
  opacity: 0.85;
  position: absolute;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  /* Firefox 4 */

  -webkit-transition: border-color 0.5s;
  /* Safari and Chrome */

  -o-transition: border-color 0.5s;
  /* Opera */

  width: 3em;
  z-index: 100;
}
.controls-arrow.arrow-left {
  left: 15px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */

  -moz-transform: rotate(-45deg);
  /* Firefox */

  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */

  -o-transform: rotate(-45deg);
  /* Opera */

  -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.5));
}
.controls-arrow.arrow-left:hover {
  -webkit-filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.5));
}
.controls-arrow.arrow-right {
  right: 15px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  /* IE 9 */

  -moz-transform: rotate(135deg);
  /* Firefox */

  -webkit-transform: rotate(135deg);
  /* Safari and Chrome */

  -o-transform: rotate(135deg);
  /* Opera */

  -webkit-filter: drop-shadow(4px -4px 4px rgba(0, 0, 0, 0.5));
}
.controls-arrow.arrow-right:hover {
  -webkit-filter: drop-shadow(8px -8px 6px rgba(0, 0, 0, 0.5));
}
.controls-arrow:hover {
  border-color: #ffa500;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.controls-arrow.disabled {
  pointer-events: none;
  opacity: 0.0;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
