.visual-element-audio {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

.slideshow-container {
  height: 100%;
  position: absolute;
  z-index: 1;
}
.slideshow-container .slideshow-slide {
  float: left;
  height: 100%;
  width: 100%;
}
.slideshow-arrow {
  position: absolute;
  top: 40%;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.slideshow-arrow.slideshow-right-arrow {
  right: 0;
}
.slideshow-arrow.slideshow-left-arrow {
  left: 0;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */

  -moz-transform: rotate(180deg);
  /* Firefox */

  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */

  -o-transform: rotate(180deg);
  /* Opera */

}
.slideshow-arrow.disabled {
  opacity: 0.0;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}

.ZEEGA-player {
  background-color: #000000;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.01;
}
.ZEEGA-player .ZEEGA-player-window,
.ZEEGA-player .ZEEGA-player-overlay {
  margin: 0 auto;
  position: relative;
}
.ZEEGA-player-window {
  overflow: hidden;
}
.ZEEGA-player-window > .visual-element {
  position: absolute;
  top: 0;
  left: 0;
}
