.visual-link {

  border-radius: 3px;

  .ZEEGA-link-inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .centerBackground {
    background-repeat: no-repeat;
    background-position: center;
  }
  &.link-type-arrow_right {
    background: url("../img/layers/link_arrow-right.png");
    .centerBackground;
  }
  &.link-type-arrow_left {
    background: url("../img/layers/link_arrow-left.png");
    .centerBackground;
  }
  &.link-type-arrow_up {
    background: url("../img/layers/link_arrow-up.png");
    .centerBackground;
  }
  &.link-type-arrow_down {
    background: url("../img/layers/link_arrow-down.png");
    .centerBackground;
  }
}

.page-chooser {

    .link-new-page {
        background: url(../img/tiny-stripes-dark.png);
        height: 40px;
        padding: 10px 0;
        background-color: rgba(50, 205, 50, 0.75);
        display: inline-block;
        width: 80px;
        float: left;
        font-size: 13px;
        text-align: center;
        color: white;
        margin-top: 10px;
        line-height: 1.5em;

        &.active {
            outline: 3px solid orangered;
        }
    }

    .divider {
        float: left;
        width: 50px;
        text-align: center;
        padding-top: 30px
    }

    .page-chooser-list {
        width: 420px;
        background: white;
        overflow: auto;
        white-space: nowrap;
        padding: 10px 5px 0 5px;

        .page {
            background: black;
            height: 60px;
            width: 80px;
            margin-right: 10px;
            white-space: nowrap;
            display: inline-block;

            a {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            &.inactive {
                opacity: 0.5;
            }
            &.active {
                outline: 3px solid orangered;
            }
        }
    }

    .bottom-chooser {
        text-align: right;
        margin-top: 15px;

        .new-page {
            margin: 20px 0;
        }
    }
    .submit {
        font-weight: bold;
        color: limegreen;
        font-size: 20px;
    }
}



.overlay-dimmer {
    position: fixed;
    z-index: 20;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
}

.modal {

    color: white;

    .close {
        position: absolute;
        right: 10px;
        font-size: 3em;
        display: inline-block;
    }

    .modal-content {
        height: 400px;
        width: 600px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }

    .modal-title {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        font-family: futura;
        text-transform: uppercase;
        margin-bottom: 20px;
        background: rgba(0,0,0,0.6);
        padding: 10px;
        border-radius: 5px;
    }

    .modal-body {

    }
}