// slideshow.less
@image-folder: '../img/layers';

@largeArrowColor: #fff;
@largeArrowHoverColor: orange;
@largeArrowOpacity: 0.85;
@largeArrowHoverOpacity: 1;
@largeArrowThickness: 10px;
@largeArrowSize: 60px;

@smallArrowColor: #fff;
@smallArrowHoverColor: orange;
@smallArrowOpacity: 0.5;
@smallArrowHoverOpacity: 1;
@smallArrowThickness: 5px;
@smallArrowSize: 15px;

[class^="slideshow-icon-"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
  background-image: url('@{image-folder}/slideshow-social-sprites-15.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.slideshow-mixin( @ypos ) {
  background-position: (-15px) (@ypos*-15px);
}

.slideshow-icon-instagram { .slideshow-mixin( 1 ) }
.slideshow-icon-flickr    { .slideshow-mixin( 2 ) }

.slideshow-container {
  height: 100%;
  width: 100%;
  position: absolute;
  .slideshow-slide {
    float: left;
    height: 100%;
    width: 100%;
  }
  z-index: 1;
}

.slideshow-arrow {
  .nav-arrow ( @largeArrowSize, @largeArrowThickness, @largeArrowColor, @largeArrowHoverColor, @largeArrowOpacity, @largeArrowHoverOpacity );
  
  &.disabled {
    opacity: 0.0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
  }
}

.slideshow-slider {
  bottom: 0px;
  color: white;
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  width: 100%;
  z-index: 30;

  .slide-metadata {
    line-height: 20px;
    padding: 10px;
    position: relative;
    text-shadow: 1px 2px 4px black;

    .attribution-link {
      color: white;
      position: absolute;
      right: 10px;
      font-size: 10px;
      bottom: 10px;
    }

    .slide-title {
    }

    .slide-description {
      font-size: 13px;
    }

  }

  .slideshow-thumb-wrapper {
    background: rgba(0,0,0,0.5);
    font-size: 10px;
    font-weight: lighter;
    height:50px;
    overflow: hidden;
    padding: 10px 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;

    li {
      display: inline-block;
      margin-left: 10px;

      &:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,0.75)
      }

      &.active .slideshow-thumbnail {
        outline: 3px solid rgba(255, 255, 255, 0.75);
      }

      .slideshow-thumbnail {
        height: 50px;
        width: 75px;
        background-size: auto 110%;
        background-position: center;
        position: relative;
      }

      .slider-thumb {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .thumb-title {
        height: 15px;
        width: 66px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        padding: 5px;
        background: -webkit-linear-gradient( top, transparent, rgba( 0, 0, 0, 0.75 ) );
      }

      .ssarchive {
        float: right;
      }

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: white;
        text-decoration: none;
      }
    }
  }

  .arrow {
    .nav-arrow ( @smallArrowSize, @smallArrowThickness, @smallArrowColor, @smallArrowHoverColor, @smallArrowOpacity, @smallArrowHoverOpacity );

    top: 45%;
    z-index: 2;
  }
}



.nav-arrow ( @height:30px, @thickness: 10px, @color:#fff, @colorHover:orange, @opacity: 0.5, @opacityHover: 1 ) {
  display: inline-block;
  height: @height;
  border-left: @thickness solid;
  border-top: @thickness solid;
  border-color: @color;
  box-shadow: 0 0 50px transparent;
  opacity: @opacity;
  position: absolute;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s; /* Firefox 4 */
  -webkit-transition: opacity 0.5s; /* Safari and Chrome */
  -o-transition: opacity 0.5s; /* Opera */
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s; /* Firefox 4 */
  -webkit-transition: border-color 0.5s; /* Safari and Chrome */
  -o-transition: border-color 0.5s; /* Opera */
  width:@height;
  z-index:100;

  &.arrow-left {
    left:15px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0,0,0,0.5));

    &:hover {
      -webkit-filter: drop-shadow(-8px 8px 6px rgba(0,0,0,0.5));
    }
  }

  &.arrow-right {
    right: 15px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); /* IE 9 */
    -moz-transform: rotate(135deg); /* Firefox */
    -webkit-transform: rotate(135deg); /* Safari and Chrome */
    -o-transform: rotate(135deg); /* Opera */

    -webkit-filter: drop-shadow(4px -4px 4px rgba(0,0,0,0.5));
    &:hover {
      -webkit-filter: drop-shadow(8px -8px 6px rgba(0,0,0,0.5));
    }
  }

  &:hover {
    border-color: @colorHover;
    transition: border-color 0.5s;
    -moz-transition: border-color 0.5s; /* Firefox 4 */
    -webkit-transition: border-color 0.5s; /* Safari and Chrome */
    -o-transition: border-color 0.5s; /* Opera */
    opacity: @opacityHover;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
  }
}
