// slideshow.less

.slideshow-container
{
	height:100%;
	position:absolute;
	.slideshow-slide
	{
		float:left;
		height:100%;
		width:100%;
	}
	z-index:1;
}

.slideshow-arrow
{
	position:absolute;
	top:40%;
	z-index:2;
	opacity:1;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */

	&.slideshow-right-arrow
	{
		right:0;
	}
	&.slideshow-left-arrow
	{
		left:0;
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-moz-transform:rotate(180deg); /* Firefox */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		-o-transform:rotate(180deg); /* Opera */
	}

	&.disabled
	{
		opacity:0.0;
		transition: opacity 0.5s;
		-moz-transition: opacity 0.5s; /* Firefox 4 */
		-webkit-transition: opacity 0.5s; /* Safari and Chrome */
		-o-transition: opacity 0.5s; /* Opera */
	}
}